body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
  margin-top: 30px;
}

.country-img {
  width: 120px;
  position: absolute;
  left: -40px;
  bottom: -50px;
}

.card {
  padding-left: 70px;
  overflow: hidden;
}

.card-title {
  margin: 8px 0 !important;
}

.card-content {
  display: flex;
  justify-content: space-between;
  
}

.avg-score {
  font-size: 2.5em;
}